# **Dataframes**

In [1]:
# Bibliotecas
import pandas as pd
import numpy as np

## Criação de dataframes

In [2]:
data = [
    ['Alice', 25, 'São Paulo'],
    ['João', 30, 'Rio de Janeiro'],
    ['Bruno', 35, 'Curitiba'],
    ['Carlos', 40, 'Manaus']
]

In [3]:
type(data)

list

In [4]:
colunas = ['Nome', 'Idade', 'Cidade']

In [5]:
df = pd.DataFrame(data=data, columns=colunas)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

In [6]:
data = {
    'Nome': ['Alice', 'João', 'Bruno', 'Carlos'],
    'Idade': [25, 30, 35, 40],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus']
}
data

{'Nome': ['Alice', 'João', 'Bruno', 'Carlos'],
 'Idade': [25, 30, 35, 40],
 'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus']}

In [7]:
type(data)

dict

In [8]:
df = pd.DataFrame(data)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

In [9]:
data = np.array([
    ['Alice', 25, 'São Paulo'],
    ['João', 30, 'Rio de Janeiro'],
    ['Bruno', 35, 'Curitiba'],
    ['Carlos', 40, 'Manaus']
])
type(data)

numpy.ndarray

In [10]:
df = pd.DataFrame(data, columns=colunas)
df

     Nome Idade          Cidade
0   Alice    25       São Paulo
1    João    30  Rio de Janeiro
2   Bruno    35        Curitiba
3  Carlos    40          Manaus

In [11]:
data = [
    ('Alice', 25, 'São Paulo'),
    ('João', 30, 'Rio de Janeiro'),
    ('Bruno', 35, 'Curitiba'),
    ('Carlos', 40, 'Manaus')
]

In [12]:
type(data), type(data[0])

(list, tuple)

In [13]:
df = pd.DataFrame(data, columns=colunas)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

In [14]:
data = {
    'Nome': pd.Series(['Alice', 'João', 'Bruno', 'Carlos']),
    'Idade': pd.Series([25, 30, 35, 40]),
    'Cidade': pd.Series(['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus']
)}
data

{'Nome': 0     Alice
 1      João
 2     Bruno
 3    Carlos
 dtype: object,
 'Idade': 0    25
 1    30
 2    35
 3    40
 dtype: int64,
 'Cidade': 0         São Paulo
 1    Rio de Janeiro
 2          Curitiba
 3            Manaus
 dtype: object}

In [15]:
df = pd.DataFrame(data)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

In [16]:
data = {
    'Nome': np.array(['Alice', 'João', 'Bruno', 'Carlos']),
    'Idade': np.array([25, 30, 35, 40]),
    'Cidade': np.array(['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus'])
}
data

{'Nome': array(['Alice', 'João', 'Bruno', 'Carlos'], dtype='<U6'),
 'Idade': array([25, 30, 35, 40]),
 'Cidade': array(['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus'], dtype='<U14')}

In [17]:
type(data)

dict

In [18]:
df = pd.DataFrame(data)
df

     Nome  Idade          Cidade
0   Alice     25       São Paulo
1    João     30  Rio de Janeiro
2   Bruno     35        Curitiba
3  Carlos     40          Manaus

## Exploração de dataframes

In [19]:
df = pd.read_csv('../data/census.csv')
df

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [20]:
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
df.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [22]:
df.shape

(32561, 15)

In [23]:
df.size

488415

In [24]:
df.index

RangeIndex(start=0, stop=32561, step=1)

In [25]:
df.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [26]:
df.axes

[RangeIndex(start=0, stop=32561, step=1),
 Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
        'income'],
       dtype='object')]

In [27]:
df.dtypes

age                int64
workclass         object
final-weight       int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loos       int64
hour-per-week      int64
native-country    object
income            object
dtype: object

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final-weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loos    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [29]:
df.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## Acesso com loc e iloc

In [30]:
df['age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [31]:
type(df['age'])

pandas.core.series.Series

In [32]:
df.age

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [33]:
df.age.mean()

np.float64(38.58164675532078)

In [34]:
df.age.iloc[0:4]

0    39
1    50
2    38
3    53
Name: age, dtype: int64

In [35]:
df[['age', 'education']]

       age    education
0       39    Bachelors
1       50    Bachelors
2       38      HS-grad
3       53         11th
4       28    Bachelors
...    ...          ...
32556   27   Assoc-acdm
32557   40      HS-grad
32558   58      HS-grad
32559   22      HS-grad
32560   52      HS-grad

[32561 rows x 2 columns]

In [36]:
df.iloc[0:4, 0:4] # Linha, coluna

   age          workclass  final-weight   education
0   39          State-gov         77516   Bachelors
1   50   Self-emp-not-inc         83311   Bachelors
2   38            Private        215646     HS-grad
3   53            Private        234721        11th

In [37]:
df.iloc[0:4, :]

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [38]:
df.iloc[0:4, [0,3,5]]

   age   education       marital-status
0   39   Bachelors        Never-married
1   50   Bachelors   Married-civ-spouse
2   38     HS-grad             Divorced
3   53        11th   Married-civ-spouse

In [39]:
df.iloc[:, 0:4]

       age          workclass  final-weight    education
0       39          State-gov         77516    Bachelors
1       50   Self-emp-not-inc         83311    Bachelors
2       38            Private        215646      HS-grad
3       53            Private        234721         11th
4       28            Private        338409    Bachelors
...    ...                ...           ...          ...
32556   27            Private        257302   Assoc-acdm
32557   40            Private        154374      HS-grad
32558   58            Private        151910      HS-grad
32559   22            Private        201490      HS-grad
32560   52       Self-emp-inc        287927      HS-grad

[32561 rows x 4 columns]

In [40]:
df.loc[:, 'age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [41]:
df.loc[:, ['age', 'workclass', 'education']]

       age          workclass    education
0       39          State-gov    Bachelors
1       50   Self-emp-not-inc    Bachelors
2       38            Private      HS-grad
3       53            Private         11th
4       28            Private    Bachelors
...    ...                ...          ...
32556   27            Private   Assoc-acdm
32557   40            Private      HS-grad
32558   58            Private      HS-grad
32559   22            Private      HS-grad
32560   52       Self-emp-inc      HS-grad

[32561 rows x 3 columns]

In [42]:
df.loc[0:5, 'age':'occupation']

,age,workclass,final-weight,education,education-num,marital-status,occupation
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial

## Apagando linhas e colunas

In [43]:
df.drop('education', axis=1) # 0 - linhas, 1 - colunas

,age,workclass,final-weight,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [44]:
df.drop("final-weight", axis=1, inplace=True)

In [45]:
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [46]:
df.drop([0], axis=0)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [47]:
df.drop([0], axis=0, inplace=True)

In [48]:
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [49]:
df.reset_index(drop=True, inplace=True)

In [50]:
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Linhas duplicadas

In [51]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32555    False
32556     True
32557    False
32558     True
32559    False
Length: 32560, dtype: bool

In [52]:
df.duplicated().sum()

np.int64(3465)

In [53]:
df.drop_duplicates()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [54]:
df.duplicated(subset='age').sum()

np.int64(32487)

In [55]:
df.drop_duplicates(keep='last', ignore_index=True)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29090,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
29091,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
29092,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
29093,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
29094,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Valores faltantes

In [56]:
df.isna().sum() #NaN

age               0
workclass         0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

In [57]:
df.loc[df['workclass'].str.contains("\?")]

<>:1: SyntaxWarning: invalid escape sequence '\?'
<>:1: SyntaxWarning: invalid escape sequence '\?'
/tmp/ipykernel_18531/1058209479.py:1: SyntaxWarning: invalid escape sequence '\?'
  df.loc[df['workclass'].str.contains("\?")]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
26,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
60,32,?,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
68,25,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
76,67,?,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
105,17,?,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32529,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32530,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32538,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [58]:
df['workclass'].str.contains('\?').sum()

<>:1: SyntaxWarning: invalid escape sequence '\?'
<>:1: SyntaxWarning: invalid escape sequence '\?'
/tmp/ipykernel_18531/3120484502.py:1: SyntaxWarning: invalid escape sequence '\?'
  df['workclass'].str.contains('\?').sum()

np.int64(1836)

In [59]:
colunas_categoricas = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

for coluna in colunas_categoricas:
    #print(coluna)
    tem_interrogacao = df[coluna].str.contains("\?").any()
    if tem_interrogacao:
        print(f"Na coluna '{coluna}' existem valores '?'")

<>:5: SyntaxWarning: invalid escape sequence '\?'
<>:5: SyntaxWarning: invalid escape sequence '\?'
/tmp/ipykernel_18531/1699693689.py:5: SyntaxWarning: invalid escape sequence '\?'
  tem_interrogacao = df[coluna].str.contains("\?").any()

Na coluna 'workclass' existem valores '?'
Na coluna 'occupation' existem valores '?'
Na coluna 'native-country' existem valores '?'

In [60]:
df.isnull().sum()

age               0
workclass         0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

In [61]:
for coluna in colunas_categoricas:
    df[coluna] = df[coluna].replace(' ?', np.nan)

In [62]:
df.isna().sum()

age                  0
workclass         1836
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loos         0
hour-per-week        0
native-country     583
income               0
dtype: int64

In [63]:
df.fillna("NOT INFORMED").iloc[0:30]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NOT INFORMED,>50K
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,NOT INFORMED,Some-college,10,Married-civ-spouse,NOT INFORMED,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K

In [64]:
df['workclass'].fillna(df['workclass'].mode().iloc[0], inplace=True)
df['occupation'].fillna(df['occupation'].mode().iloc[0], inplace=True)
df['native-country'].fillna(df['native-country'].mode().iloc[0], inplace=True)

/tmp/ipykernel_18531/2331776367.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['workclass'].fillna(df['workclass'].mode().iloc[0], inplace=True)
/tmp/ipykernel_18531/2331776367.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['occupation'].fillna(df['occupation'].mode().iloc[0], inplace=True)
/tmp/ipykernel_18531/2331776367.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['native-country'].fillna(df['native-country'].mode().iloc[0], inplace=True)

In [65]:
df.isna().sum()

age               0
workclass         0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

### Contagem

In [66]:
df.age.value_counts()

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64

In [67]:
df.workclass.value_counts()

workclass
Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [68]:
df.workclass.value_counts(normalize=True)

workclass
Private             0.753440
Self-emp-not-inc    0.078041
Local-gov           0.064281
State-gov           0.039834
Self-emp-inc        0.034275
Federal-gov         0.029484
Without-pay         0.000430
Never-worked        0.000215
Name: proportion, dtype: float64

In [69]:
df.workclass.value_counts(normalize=True, sort=False)

workclass
Self-emp-not-inc    0.078041
Private             0.753440
State-gov           0.039834
Federal-gov         0.029484
Local-gov           0.064281
Self-emp-inc        0.034275
Without-pay         0.000430
Never-worked        0.000215
Name: proportion, dtype: float64

In [70]:
for coluna in df.columns:
    if df[coluna].dtype == object:
        print('---'*5, coluna, '---'*5)
        print(df[coluna].value_counts(normalize=True))
        print()

--------------- workclass ---------------
workclass
Private             0.753440
Self-emp-not-inc    0.078041
Local-gov           0.064281
State-gov           0.039834
Self-emp-inc        0.034275
Federal-gov         0.029484
Without-pay         0.000430
Never-worked        0.000215
Name: proportion, dtype: float64

--------------- education ---------------
education
HS-grad         0.322512
Some-college    0.223925
Bachelors       0.164435
Masters         0.052918
Assoc-voc       0.042445
11th            0.036087
Assoc-acdm      0.032770
10th            0.028655
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013299
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: proportion, dtype: float64

--------------- marital-status ---------------
marital-status
Married-civ-spouse       0.459951
Never-married            0.328071
Divorced                 0.136456
Separated                0.031480
Widowed                  0.030498
Married-spouse-absent    0.012838
Married-AF-spouse        0.000706
Name: proportion, dtype: float64

--------------- occupation ---------------
occupation
Prof-specialty       0.183753
Craft-repair         0.125891
Exec-managerial      0.124877
Adm-clerical         0.115756
Sales                0.112101
Other-service        0.101198
Machine-op-inspct    0.061486
Transport-moving     0.049048
Handlers-cleaners    0.042076
Farming-fishing      0.030528
Tech-support         0.028501
Protective-serv      0.019932
Priv-house-serv      0.004576
Armed-Forces         0.000276
Name: proportion, dtype: float64

--------------- relationship ---------------
relationship
Husband           0.405190
Not-in-family     0.255037
Own-child         0.155651
Unmarried         0.105835
Wife              0.048157
Other-relative    0.030129
Name: proportion, dtype: float64

--------------- race ---------------
race
White                 0.854269
Black                 0.095946
Asian-Pac-Islander    0.031910
Amer-Indian-Eskimo    0.009552
Other                 0.008323
Name: proportion, dtype: float64

--------------- sex ---------------
sex
Male      0.669195
Female    0.330805
Name: proportion, dtype: float64

--------------- native-country ---------------
native-country
United-States                 0.913759
Mexico                        0.019748
Philippines                   0.006081
Germany                       0.004208
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003256
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
France                        0.000891
Greece                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Honduras                      0.000399
Hungary                       0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: proportion, dtype: float64

--------------- income ---------------
income
<=50K    0.759183
>50K     0.240817
Name: proportion, dtype: float64

### Ordenação

In [71]:
df.sort_index(ascending=False)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32559,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32557,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32555,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [72]:
df.sort_values(['age', 'workclass'], ascending=[False, True], inplace=True)

In [73]:
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
28462,90,Federal-gov,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
5369,90,Local-gov,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
14158,90,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
18724,90,Local-gov,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
32366,90,Local-gov,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12360,17,Self-emp-not-inc,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K
13535,17,Self-emp-not-inc,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
26089,17,Self-emp-not-inc,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
8093,17,State-gov,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
14093,17,State-gov,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K

In [74]:
df.reset_index(drop=True, inplace=True)
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,90,Federal-gov,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
1,90,Local-gov,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
2,90,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
3,90,Local-gov,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
4,90,Local-gov,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,17,Self-emp-not-inc,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K
32556,17,Self-emp-not-inc,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
32557,17,Self-emp-not-inc,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
32558,17,State-gov,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
32559,17,State-gov,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K

## Filtragem

In [75]:
df.loc[df.education == ' Bachelors', ['age', 'workclass']]

       age workclass
7       90   Private
11      90   Private
18      90   Private
22      90   Private
26      90   Private
...    ...       ...
29719   21   Private
29728   21   Private
30375   20   Private
30948   19   Private
30989   19   Private

[5354 rows x 2 columns]

In [76]:
df.loc[(df["education-num"] == 6) & (df['marital-status'] == ' Never-married')]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
347,73,Private,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,4,United-States,<=50K
646,69,Private,10th,6,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,United-States,<=50K
933,67,Private,10th,6,Never-married,Prof-specialty,Not-in-family,Black,Female,0,0,35,United-States,<=50K
2325,61,State-gov,10th,6,Never-married,Other-service,Not-in-family,Black,Female,0,0,38,United-States,<=50K
3256,58,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,17,Self-emp-not-inc,10th,6,Never-married,Adm-clerical,Own-child,White,Male,0,0,10,United-States,<=50K
32554,17,Self-emp-not-inc,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
32556,17,Self-emp-not-inc,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
32558,17,State-gov,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
32559,17,State-gov,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K

In [77]:
df.query("`education-num` == 6 and `marital-status` == ' Never-married'")

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
347,73,Private,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,4,United-States,<=50K
646,69,Private,10th,6,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,United-States,<=50K
933,67,Private,10th,6,Never-married,Prof-specialty,Not-in-family,Black,Female,0,0,35,United-States,<=50K
2325,61,State-gov,10th,6,Never-married,Other-service,Not-in-family,Black,Female,0,0,38,United-States,<=50K
3256,58,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,17,Self-emp-not-inc,10th,6,Never-married,Adm-clerical,Own-child,White,Male,0,0,10,United-States,<=50K
32554,17,Self-emp-not-inc,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
32556,17,Self-emp-not-inc,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
32558,17,State-gov,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
32559,17,State-gov,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K

In [78]:
df.query("age > 35 and workclass == ' Private'")

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
5,90,Private,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
6,90,Private,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
7,90,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
8,90,Private,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
9,90,Private,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17494,36,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States,>50K
17495,36,Private,Preschool,1,Divorced,Other-service,Not-in-family,Other,Male,0,0,72,Mexico,<=50K
17496,36,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
17497,36,Private,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States,>50K
17498,36,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K

In [79]:
df.query("age > 35 and workclass == ' Private'").loc[:, 'capital-gain'].sum()

np.int64(16127142)

## Renomear e reordenar

In [80]:
df.columns = [coluna.upper() for coluna in df.columns]
df.columns

Index(['AGE', 'WORKCLASS', 'EDUCATION', 'EDUCATION-NUM', 'MARITAL-STATUS',
       'OCCUPATION', 'RELATIONSHIP', 'RACE', 'SEX', 'CAPITAL-GAIN',
       'CAPITAL-LOOS', 'HOUR-PER-WEEK', 'NATIVE-COUNTRY', 'INCOME'],
      dtype='object')

In [81]:
df.columns = [coluna.lower() for coluna in df.columns]
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [82]:
df.rename(columns={"age":"idade", "workclass":"trabalho"}, inplace=True)
df.columns

Index(['idade', 'trabalho', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [83]:
df.rename(columns={"idade":"age", "trabalho":"workclass"}, inplace=True)
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loos', 'hour-per-week', 'native-country', 'income'],
      dtype='object')

In [84]:
df = df.reindex(labels=[
    'workclass', 'age', 'education', 'education-num', 'marital-status',
    'occupation', 'relationship', 'race', 'sex', 'capital-gain',
    'capital-loos', 'hour-per-week', 'native-country', 'income'
], axis=1)
df

,workclass,age,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,Federal-gov,90,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
1,Local-gov,90,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
2,Local-gov,90,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
3,Local-gov,90,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
4,Local-gov,90,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,Self-emp-not-inc,17,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K
32556,Self-emp-not-inc,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
32557,Self-emp-not-inc,17,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
32558,State-gov,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
32559,State-gov,17,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K

## Criação de colunas

In [85]:
df['hour-per-month'] = df['hour-per-week'] * 4
df

,workclass,age,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month
0,Federal-gov,90,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K,120
1,Local-gov,90,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K,240
2,Local-gov,90,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K,80
3,Local-gov,90,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K,160
4,Local-gov,90,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,Self-emp-not-inc,17,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K,80
32556,Self-emp-not-inc,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,140
32557,Self-emp-not-inc,17,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K,60
32558,State-gov,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K,160
32559,State-gov,17,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K,120

In [86]:
df['high-education-level'] = df['education-num'] > 10
df

,workclass,age,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level
0,Federal-gov,90,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K,120,False
1,Local-gov,90,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K,240,True
2,Local-gov,90,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K,80,True
3,Local-gov,90,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K,160,False
4,Local-gov,90,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K,160,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,Self-emp-not-inc,17,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K,80,False
32556,Self-emp-not-inc,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,140,False
32557,Self-emp-not-inc,17,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K,60,False
32558,State-gov,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K,160,False
32559,State-gov,17,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K,120,False

In [87]:
dic_map = {" <=50K": "Low", " >50K": "High"}
df['category-income'] = df['income'].map(dic_map)
df.head()

,workclass,age,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income
0,Federal-gov,90,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K,120,False,Low
1,Local-gov,90,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K,240,True,High
2,Local-gov,90,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K,80,True,Low
3,Local-gov,90,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K,160,False,Low
4,Local-gov,90,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K,160,False,Low

In [88]:
df['capital-gain-usd'] = df['capital-gain'].map(lambda x: f"USD {x}")
df.head()

,workclass,age,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd
0,Federal-gov,90,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K,120,False,Low,USD 0
1,Local-gov,90,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K,240,True,High,USD 20051
2,Local-gov,90,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K,80,True,Low,USD 0
3,Local-gov,90,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K,160,False,Low,USD 6767
4,Local-gov,90,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K,160,False,Low,USD 2653

In [89]:
from datetime import datetime
datetime.now().year

2025

In [90]:
df = df.assign(
    birth=datetime.now().year - df["age"],
    hardwork=df["hour-per-week"] > 40
)
df

,workclass,age,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd,birth,hardwork
0,Federal-gov,90,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K,120,False,Low,USD 0,1935,False
1,Local-gov,90,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K,240,True,High,USD 20051,1935,True
2,Local-gov,90,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K,80,True,Low,USD 0,1935,False
3,Local-gov,90,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K,160,False,Low,USD 6767,1935,False
4,Local-gov,90,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K,160,False,Low,USD 2653,1935,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,Self-emp-not-inc,17,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States,<=50K,80,False,Low,USD 0,2008,False
32556,Self-emp-not-inc,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,140,False,Low,USD 0,2008,False
32557,Self-emp-not-inc,17,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K,60,False,Low,USD 0,2008,False
32558,State-gov,17,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K,160,False,Low,USD 0,2008,False
32559,State-gov,17,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K,120,False,Low,USD 0,2008,False

## Atributos categóricos

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   workclass             32560 non-null  object
 1   age                   32560 non-null  int64
 2   education             32560 non-null  object
 3   education-num         32560 non-null  int64
 4   marital-status        32560 non-null  object
 5   occupation            32560 non-null  object
 6   relationship          32560 non-null  object
 7   race                  32560 non-null  object
 8   sex                   32560 non-null  object
 9   capital-gain          32560 non-null  int64
 10  capital-loos          32560 non-null  int64
 11  hour-per-week         32560 non-null  int64
 12  native-country        32560 non-null  object
 13  income                32560 non-null  object
 14  hour-per-month        32560 non-null  int64
 15  high-education-level  32560 non-null  bool
 16  category-income       32560 non-null  object
 17  capital-gain-usd      32560 non-null  object
 18  birth                 32560 non-null  int64
 19  hardwork              32560 non-null  bool
dtypes: bool(2), int64(7), object(11)
memory usage: 4.5+ MB

In [92]:
df['native-country'].unique(), df['native-country'].nunique()

(array([' United-States', ' Philippines', ' Puerto-Rico', ' Ecuador',
        ' South', ' England', ' Poland', ' Cuba', ' Hungary', ' Mexico',
        ' Canada', ' El-Salvador', ' Dominican-Republic', ' Portugal',
        ' Italy', ' Columbia', ' China', ' Germany', ' Vietnam', ' Peru',
        ' Ireland', ' Nicaragua', ' Jamaica', ' Yugoslavia', ' Guatemala',
        ' Greece', ' Cambodia', ' France', ' Outlying-US(Guam-USVI-etc)',
        ' Iran', ' Haiti', ' Scotland', ' Trinadad&Tobago', ' India',
        ' Japan', ' Taiwan', ' Hong', ' Honduras', ' Laos', ' Thailand',
        ' Holand-Netherlands'], dtype=object),
 41)

In [93]:
df = df.astype({'native-country': 'category'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   workclass             32560 non-null  object
 1   age                   32560 non-null  int64
 2   education             32560 non-null  object
 3   education-num         32560 non-null  int64
 4   marital-status        32560 non-null  object
 5   occupation            32560 non-null  object
 6   relationship          32560 non-null  object
 7   race                  32560 non-null  object
 8   sex                   32560 non-null  object
 9   capital-gain          32560 non-null  int64
 10  capital-loos          32560 non-null  int64
 11  hour-per-week         32560 non-null  int64
 12  native-country        32560 non-null  category
 13  income                32560 non-null  object
 14  hour-per-month        32560 non-null  int64
 15  high-education-level  32560 non-null  bool
 16  category-income       32560 non-null  object
 17  capital-gain-usd      32560 non-null  object
 18  birth                 32560 non-null  int64
 19  hardwork              32560 non-null  bool
dtypes: bool(2), category(1), int64(7), object(10)
memory usage: 4.3+ MB

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   workclass             32560 non-null  object
 1   age                   32560 non-null  int64
 2   education             32560 non-null  object
 3   education-num         32560 non-null  int64
 4   marital-status        32560 non-null  object
 5   occupation            32560 non-null  object
 6   relationship          32560 non-null  object
 7   race                  32560 non-null  object
 8   sex                   32560 non-null  object
 9   capital-gain          32560 non-null  int64
 10  capital-loos          32560 non-null  int64
 11  hour-per-week         32560 non-null  int64
 12  native-country        32560 non-null  category
 13  income                32560 non-null  object
 14  hour-per-month        32560 non-null  int64
 15  high-education-level  32560 non-null  bool
 16  category-income       32560 non-null  object
 17  capital-gain-usd      32560 non-null  object
 18  birth                 32560 non-null  int64
 19  hardwork              32560 non-null  bool
dtypes: bool(2), category(1), int64(7), object(10)
memory usage: 4.3+ MB

## Agregação

In [95]:
df.loc[:, "hour-per-week"].sum()

np.int64(1316644)

In [96]:
df.loc[:, ['hour-per-week', 'age']].sum()

hour-per-week    1316644
age              1256218
dtype: int64

In [97]:
df.loc[:, ['hour-per-week', 'age']].mean().round(2)

hour-per-week    40.44
age              38.58
dtype: float64

In [98]:
df.loc[:, ['hour-per-week', 'age']].std().round(2)

hour-per-week    12.35
age              13.64
dtype: float64

In [99]:
df.loc[:, ['hour-per-week', 'age']].min().round(2)

hour-per-week     1
age              17
dtype: int64

In [100]:
df.loc[:, ['hour-per-week', 'age']].max().round(2)

hour-per-week    99
age              90
dtype: int64

In [101]:
df.mean(numeric_only=True)

age                       38.581634
education-num             10.080590
capital-gain            1077.615172
capital-loos              87.306511
hour-per-week             40.437469
hour-per-month           161.749877
high-education-level       0.322942
birth                   1986.418366
hardwork                   0.294257
dtype: float64

## Agrupamento

In [102]:
df['workclass'].unique()

array([' Federal-gov', ' Local-gov', ' Private', ' Self-emp-not-inc',
       ' Self-emp-inc', ' State-gov', ' Without-pay', ' Never-worked'],
      dtype=object)

In [103]:
df.groupby("workclass", observed=False)["hour-per-week"].mean().sort_values(ascending=False)

workclass
Self-emp-inc        48.818100
Self-emp-not-inc    44.421881
Federal-gov         41.379167
Local-gov           40.982800
Private             39.642345
State-gov           39.030840
Without-pay         32.714286
Never-worked        28.428571
Name: hour-per-week, dtype: float64

In [104]:
group = df.groupby("workclass", observed=False)["hour-per-week"].mean().sort_values(ascending=False)
type(group)

pandas.core.series.Series

In [105]:
df.groupby('income', observed=False)['education-num'].mean().round(2).sort_values(ascending=False)

income
>50K     11.61
<=50K     9.59
Name: education-num, dtype: float64

In [106]:
group = df.groupby(["income", "workclass"], observed=False)["hour-per-week"].mean().round(2).sort_index()
group

income  workclass
<=50K   Federal-gov         40.09
        Local-gov           39.74
        Never-worked        28.43
        Private             38.18
        Self-emp-inc        47.14
        Self-emp-not-inc    43.52
        State-gov           37.10
        Without-pay         32.71
>50K    Federal-gov         43.42
        Local-gov           43.96
        Private             45.15
        Self-emp-inc        50.15
        Self-emp-not-inc    46.69
        State-gov           44.19
Name: hour-per-week, dtype: float64

In [107]:
group.index

MultiIndex([(' <=50K',      ' Federal-gov'),
            (' <=50K',        ' Local-gov'),
            (' <=50K',     ' Never-worked'),
            (' <=50K',          ' Private'),
            (' <=50K',     ' Self-emp-inc'),
            (' <=50K', ' Self-emp-not-inc'),
            (' <=50K',        ' State-gov'),
            (' <=50K',      ' Without-pay'),
            ( ' >50K',      ' Federal-gov'),
            ( ' >50K',        ' Local-gov'),
            ( ' >50K',          ' Private'),
            ( ' >50K',     ' Self-emp-inc'),
            ( ' >50K', ' Self-emp-not-inc'),
            ( ' >50K',        ' State-gov')],
           names=['income', 'workclass'])

In [108]:
group.loc[' <=50K']

workclass
Federal-gov         40.09
Local-gov           39.74
Never-worked        28.43
Private             38.18
Self-emp-inc        47.14
Self-emp-not-inc    43.52
State-gov           37.10
Without-pay         32.71
Name: hour-per-week, dtype: float64

In [109]:
group.loc[(" <=50K", ' Federal-gov'): (" <=50K", " Private")]

income  workclass
<=50K   Federal-gov     40.09
        Local-gov       39.74
        Never-worked    28.43
        Private         38.18
Name: hour-per-week, dtype: float64

In [110]:
group.loc[" <=50K"][" Federal-gov": ' Never-worked']

workclass
Federal-gov     40.09
Local-gov       39.74
Never-worked    28.43
Name: hour-per-week, dtype: float64

In [111]:
group = df.groupby(['income', 'workclass'], as_index=False, observed=False)["hour-per-week"].mean().sort_index()
group

    income          workclass  hour-per-week
0    <=50K        Federal-gov      40.093379
1    <=50K          Local-gov      39.739837
2    <=50K       Never-worked      28.428571
3    <=50K            Private      38.176334
4    <=50K       Self-emp-inc      47.135628
5    <=50K   Self-emp-not-inc      43.517336
6    <=50K          State-gov      37.102754
7    <=50K        Without-pay      32.714286
8     >50K        Federal-gov      43.420485
9     >50K          Local-gov      43.956240
10    >50K            Private      45.154249
11    >50K       Self-emp-inc      50.154341
12    >50K   Self-emp-not-inc      46.691989
13    >50K          State-gov      44.186969

In [112]:
type(group)

pandas.core.frame.DataFrame

In [113]:
group.query("workclass == ' Federal-gov'")

   income     workclass  hour-per-week
0   <=50K   Federal-gov      40.093379
8    >50K   Federal-gov      43.420485

## Agrupamento com agregação

In [115]:
df.groupby(['income', 'workclass'], observed=False).agg("mean", numeric_only=True)

                               age  education-num  capital-gain  capital-loos  \
income workclass
<=50K  Federal-gov       40.624788      10.483871    173.207131     91.278438
       Local-gov         40.704607      10.580623    169.179539     79.185637
       Never-worked      20.571429       7.428571      0.000000      0.000000
       Private           35.465270       9.410362    139.300289     49.772990
       Self-emp-inc      43.206478      10.198381    177.941296     54.368421
       Self-emp-not-inc  44.388553       9.697854    220.794717     62.629609
       State-gov         37.277542      10.797669    135.573093     40.143008
       Without-pay       47.785714       9.071429    487.857143      0.000000
>50K   Federal-gov       45.711590      11.752022   1881.088949    145.592992
       Local-gov         44.254457      12.145867   2581.126418    183.220421
       Private           43.289678      11.423749   3608.149593    186.832169
       Self-emp-inc      48.249196      11.882637   8606.705788    235.172026
       Self-emp-not-inc  46.428177      11.552486   6065.330110    252.158840
       State-gov         45.209632      12.917847   2211.475921    198.787535

                         hour-per-week  hour-per-month  high-education-level  \
income workclass
<=50K  Federal-gov           40.093379      160.373514              0.344652
       Local-gov             39.739837      158.959350              0.423442
       Never-worked          28.428571      113.714286              0.000000
       Private               38.176334      152.705336              0.212612
       Self-emp-inc          47.135628      188.542510              0.342105
       Self-emp-not-inc      43.517336      174.069345              0.266924
       State-gov             37.102754      148.411017              0.399364
       Without-pay           32.714286      130.857143              0.071429
>50K   Federal-gov           43.420485      173.681941              0.576819
       Local-gov             43.956240      175.824959              0.687196
       Private               45.154249      180.616997              0.554715
       Self-emp-inc          50.154341      200.617363              0.598071
       Self-emp-not-inc      46.691989      186.767956              0.549724
       State-gov             44.186969      176.747875              0.759207

                               birth  hardwork
income workclass
<=50K  Federal-gov       1984.375212  0.151104
       Local-gov         1984.295393  0.228320
       Never-worked      2004.428571  0.000000
       Private           1989.534730  0.211116
       Self-emp-inc      1981.793522  0.548583
       Self-emp-not-inc  1980.611447  0.444689
       State-gov         1987.722458  0.132415
       Without-pay       1977.214286  0.285714
>50K   Federal-gov       1979.288410  0.293801
       Local-gov         1980.745543  0.376013
       Private           1981.710322  0.491657
       Self-emp-inc      1976.750804  0.678457
       Self-emp-not-inc  1978.571823  0.580110
       State-gov         1979.790368  0.393768

In [116]:
df.groupby([
    'income', 'workclass'
], observed=False).agg({
    "age": ["mean", "std"],
    "hour-per-week": ["min", "max"]
    })

                               age            hour-per-week
                              mean        std           min max
income workclass
<=50K  Federal-gov       40.624788  12.342207             4  99
       Local-gov         40.704607  13.212608             2  99
       Never-worked      20.571429   4.613644             4  40
       Private           35.465270  13.846155             1  99
       Self-emp-inc      43.206478  13.664700             1  99
       Self-emp-not-inc  44.388553  13.985118             1  99
       State-gov         37.277542  12.589332             4  99
       Without-pay       47.785714  21.075610            10  65
>50K   Federal-gov       45.711590   9.237137             6  80
       Local-gov         44.254457   9.198836             7  99
       Private           43.289678  10.411153             1  99
       Self-emp-inc      48.249196  11.109786            10  99
       Self-emp-not-inc  46.428177  11.435626             2  99
       State-gov         45.209632   9.943661             1  80

In [117]:
df.groupby([
    'income', 'workclass'
], observed=False).agg(
    age_mean=("age", "mean"),
    age_std=("age", "std"),
    hour_min=("hour-per-week", "min"),
    hour_max=("hour-per-week", "max")
)

                          age_mean    age_std  hour_min  hour_max
income workclass
<=50K  Federal-gov       40.624788  12.342207         4        99
       Local-gov         40.704607  13.212608         2        99
       Never-worked      20.571429   4.613644         4        40
       Private           35.465270  13.846155         1        99
       Self-emp-inc      43.206478  13.664700         1        99
       Self-emp-not-inc  44.388553  13.985118         1        99
       State-gov         37.277542  12.589332         4        99
       Without-pay       47.785714  21.075610        10        65
>50K   Federal-gov       45.711590   9.237137         6        80
       Local-gov         44.254457   9.198836         7        99
       Private           43.289678  10.411153         1        99
       Self-emp-inc      48.249196  11.109786        10        99
       Self-emp-not-inc  46.428177  11.435626         2        99
       State-gov         45.209632   9.943661         1        80

## Agrupamento com transform

In [119]:
group = df.groupby([
    "workclass"
], as_index=False)["hour-per-week"].mean().sort_index()
group

           workclass  hour-per-week
0        Federal-gov      41.379167
1          Local-gov      40.982800
2       Never-worked      28.428571
3            Private      39.642345
4       Self-emp-inc      48.818100
5   Self-emp-not-inc      44.421881
6          State-gov      39.030840
7        Without-pay      32.714286

In [121]:
group.assign(
    avg_age=df.groupby(["workclass"])["age"].transform("mean"),
    avg_education=df.groupby(["workclass"])["education-num"].transform("mean")
)

           workclass  hour-per-week    avg_age  avg_education
0        Federal-gov      41.379167  42.590625      10.973958
1          Local-gov      40.982800  41.751075      11.042045
2       Never-worked      28.428571  41.751075      11.042045
3            Private      39.642345  41.751075      11.042045
4       Self-emp-inc      48.818100  41.751075      11.042045
5   Self-emp-not-inc      44.421881  37.109123       9.833361
6          State-gov      39.030840  37.109123       9.833361
7        Without-pay      32.714286  37.109123       9.833361

## Tabela pivot