# Curso Pandas Exercícios NÃO Resolvidos

In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)
print(np.__version__)

2.3.3
2.3.5

# Series

- Base de dados: https://www.kaggle.com/datasets/rakannimer/air-passengers

In [3]:
dataset = pd.read_csv('../data/AirPassengers.csv')

In [4]:
type(dataset)

pandas.core.frame.DataFrame

In [5]:
dataset

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [6]:
serie_month = pd.Series(np.array(dataset['#Passengers']), index=dataset['Month'])
serie_month

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [7]:
type(serie_month)

pandas.core.series.Series

In [8]:
serie_month.index

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [9]:
serie_month.dtype

dtype('int64')

In [10]:
# Número de dimensões
serie_month.ndim

1

In [11]:
serie_month.size

144

In [12]:
serie_month.head()

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
dtype: int64

In [13]:
serie_month.tail()

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [14]:
serie_month.iloc[0]

np.int64(112)

In [15]:
serie_month.iloc[0:4]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
dtype: int64

In [16]:
serie_month.iloc[-1]

np.int64(432)

In [17]:
serie_month.loc['1960-08']

np.int64(606)

In [18]:
serie_month.loc['1960-08': '1960-12']

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [19]:
# Ordenação
serie_month.sort_values()

Month
1949-11    104
1949-01    112
1950-11    114
1950-01    115
1949-12    118
          ...
1960-06    535
1959-07    548
1959-08    559
1960-08    606
1960-07    622
Length: 144, dtype: int64

In [20]:
# Ordenação
serie_month.sort_values(ascending=False)

Month
1960-07    622
1960-08    606
1959-08    559
1959-07    548
1960-06    535
          ...
1949-12    118
1950-01    115
1950-11    114
1949-01    112
1949-11    104
Length: 144, dtype: int64

In [21]:
# Ordenação do índice
serie_month.sort_index()

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [22]:
# Contagem
serie_month.value_counts()

229    3
118    2
170    2
148    2
178    2
      ..
622    1
606    1
508    1
390    1
432    1
Name: count, Length: 118, dtype: int64

In [23]:
# Valores maiores do que 300
serie_month.loc[serie_month > 300]

Month
1954-07    302
1955-06    315
1955-07    364
1955-08    347
1955-09    312
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 62, dtype: int64

In [24]:
serie_month.loc[serie_month == 302]

Month
1954-07    302
dtype: int64

In [25]:
serie_month.shape

(144,)

In [26]:
# Menores do que 1950-08
serie_month.loc[serie_month.index < '1950-08']

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
1950-01    115
1950-02    126
1950-03    141
1950-04    135
1950-05    125
1950-06    149
1950-07    170
dtype: int64

In [27]:
# Entre 1949-01 e 1950-01
serie_month.loc[(serie_month.index >= '1949-01') & (serie_month.index <= '1950-01')]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
1950-01    115
dtype: int64

In [28]:
# Somatório dos valores
serie_month.sum()

np.int64(40363)

In [29]:
# Média dos valores
serie_month.mean()

np.float64(280.2986111111111)

In [30]:
# Valor mínimo
serie_month.min()

np.int64(104)

In [31]:
# Valor máximo
serie_month.max()

np.int64(622)

In [32]:
# Somatório do intervalo 1949-01 e 1949-12
serie_month.loc[(serie_month.index > '1949-01') & (serie_month.index < '1949-12')].sum()

np.int64(1290)

In [33]:
# Valores únicos dos índices
serie_month.index.unique()

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [34]:
# Somatório de valores nulos
serie_month.isna().sum()

np.int64(0)

In [35]:
serie_month

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [36]:
serie_month.index = pd.to_datetime(serie_month.index)
serie_month

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
             ...
1960-08-01    606
1960-09-01    508
1960-10-01    461
1960-11-01    390
1960-12-01    432
Length: 144, dtype: int64

In [37]:
# Pesquise sobre o pd.DatetimeIndex para extrair o mês do índice
serie_month.index.month

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       ...
        3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
      dtype='int32', name='Month', length=144)

In [38]:
# Pesquise sobre o pd.DatetimeIndex para extrair o ano do índice
serie_month.index.year

Index([1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949,
       ...
       1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960],
      dtype='int32', name='Month', length=144)

In [39]:
# Somatório dos valores com mês 07
serie_month.loc[(serie_month.index.month == 7)].sum()

np.int64(4216)

In [40]:
# Somatório do ano de 1950

serie_month.loc[(serie_month.index.year == 1950)].sum()

np.int64(1676)

# Dataframe

- Faça a leitura da base games.csv, mostrando as informações básicas

In [41]:
df = pd.read_csv('../data/games.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [43]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

- Estatísticas básicas

In [44]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [45]:
df.shape

(16719, 16)

In [46]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

- Somatório de valores nulos

In [47]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

- Apagar todos os registros com valores nulos

In [48]:
df = df.dropna()

In [49]:
df.shape

(6825, 16)

In [50]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001.0,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,Kojima Productions,M
16700,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

- Verificar a existência de linhas duplicadas

In [51]:
df.duplicated().sum()

np.int64(0)

In [52]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

- Fazer a conversão dos tipos de dados, conforme os tipos listados abaixo

In [53]:
df = df.astype({
    'Year_of_Release': 'int64',
    'Critic_Count': 'int64',
    'User_Score': 'float64',
    'User_Count': 'int64'
})

In [54]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51,8.0,322,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73,8.3,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73,8.0,192,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65,8.5,431,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41,6.6,129,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4,2.4,21,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12,8.8,9,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20,7.6,412,Kojima Productions,M
16700,Breach,PC,2011,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12,5.8,43,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12,7.2,13,SimBin,E10+

In [55]:
df.dtypes

Name                object
Platform            object
Year_of_Release      int64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count         int64
User_Score         float64
User_Count           int64
Developer           object
Rating              object
dtype: object

- Criar uma função para atualizar o atributo User_Score, para deixá-lo na mesma escala do atributo Critic_Score (somente multiplicar por 10)
- Use a função apply para realizar a alteração

In [56]:
def normaliza(score):
    return score * 10

In [57]:
df['User_Score'] = df['User_Score'].apply(normaliza)

In [58]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51,80.0,322,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73,83.0,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73,80.0,192,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65,85.0,431,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41,66.0,129,Nintendo,E

In [59]:
df[['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher']].head()

                    Name Platform  Year_of_Release     Genre Publisher
0             Wii Sports      Wii             2006    Sports  Nintendo
2         Mario Kart Wii      Wii             2008    Racing  Nintendo
3      Wii Sports Resort      Wii             2009    Sports  Nintendo
6  New Super Mario Bros.       DS             2006  Platform  Nintendo
7               Wii Play      Wii             2006      Misc  Nintendo

- Apagar as colunas ["NA_Sales", "JP_Sales", "EU_Sales", "Other_Sales", "Critic_Count", "User_Count"]

In [60]:
df = df.drop(columns=["NA_Sales", "JP_Sales", "EU_Sales", "Other_Sales", "Critic_Count", "User_Count"]).copy()
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,82.53,76.0,80.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,35.52,82.0,83.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,32.77,80.0,80.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,29.80,89.0,85.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,28.92,58.0,66.0,Nintendo,E

- Mostrar a contagem de valores de cada coluna categórica

In [61]:
df.value_counts(normalize=True)

Name                          Platform  Year_of_Release  Genre         Publisher                     Global_Sales  Critic_Score  User_Score  Developer           Rating
 Tales of Xillia 2            PS3       2012             Role-Playing  Namco Bandai Games            0.84          71.0          79.0        Bandai Namco Games  T         0.000147
.hack//Infection Part 1       PS2       2002             Role-Playing  Atari                         1.27          75.0          85.0        CyberConnect2       T         0.000147
.hack//Mutation Part 2        PS2       2002             Role-Playing  Atari                         0.68          76.0          89.0        CyberConnect2       T         0.000147
.hack//Outbreak Part 3        PS2       2002             Role-Playing  Atari                         0.46          70.0          87.0        CyberConnect2       T         0.000147
007 Racing                    PS        2000             Racing        Electronic Arts               0.53          51.0          46.0        Eutechnyx           T         0.000147
                                                                                                                                                                             ...
pro evolution soccer 2011     PS3       2010             Sports        Konami Digital Entertainment  2.41          77.0          68.0        Konami              E         0.000147
                              PSP       2010             Sports        Konami Digital Entertainment  0.79          74.0          58.0        Konami              E         0.000147
                              Wii       2010             Sports        Konami Digital Entertainment  0.22          78.0          54.0        Konami              E         0.000147
                              X360      2010             Sports        Konami Digital Entertainment  0.61          79.0          59.0        Konami              E         0.000147
uDraw Studio: Instant Artist  X360      2011             Misc          THQ                           0.02          54.0          57.0        THQ                 E         0.000147
Name: proportion, Length: 6825, dtype: float64

In [62]:
df_categorizado = df.select_dtypes(include=['object']).columns
for coluna in df_categorizado:
    print(df[coluna].value_counts(normalize=True))

Name
Madden NFL 07                                   0.001172
Need for Speed: Most Wanted                     0.001172
LEGO Star Wars II: The Original Trilogy         0.001172
Terraria                                        0.001026
Madden NFL 08                                   0.001026
                                                  ...
Brain Age: Train Your Brain in Minutes a Day    0.000147
Wii Fit                                         0.000147
Wii Sports Resort                               0.000147
Mario Kart Wii                                  0.000147
Wii Sports                                      0.000147
Name: proportion, Length: 4377, dtype: float64
Platform
PS2     0.167033
X360    0.125714
PS3     0.112674
PC      0.095385
XB      0.082784
Wii     0.070183
DS      0.067985
PSP     0.057143
GC      0.050989
PS4     0.035018
GBA     0.034725
XOne    0.023297
3DS     0.022711
PS      0.021978
PSV     0.017289
WiiU    0.013040
DC      0.002051
Name: proportion, dtype: float64
Genre
Action          0.238828
Sports          0.138168
Shooter         0.126593
Role-Playing    0.104322
Racing          0.085128
Platform        0.059048
Misc            0.056264
Fighting        0.055385
Simulation      0.043516
Strategy        0.039121
Adventure       0.036337
Puzzle          0.017289
Name: proportion, dtype: float64
Publisher
Electronic Arts                0.138315
Ubisoft                        0.072674
Activision                     0.072088
Sony Computer Entertainment    0.046300
THQ                            0.044982
                                 ...
Lighthouse Interactive         0.000147
CDV Software Entertainment     0.000147
Encore                         0.000147
Blue Byte                      0.000147
NewKidCo                       0.000147
Name: proportion, Length: 262, dtype: float64
Developer
EA Canada                                                       0.021832
EA Sports                                                       0.020806
Capcom                                                          0.018462
Ubisoft                                                         0.015092
Konami                                                          0.013919
                                                                  ...
TDK Mediactive                                                  0.000147
Retro Studios, Entertainment Analysis & Development Division    0.000147
Autumn Moon                                                     0.000147
Tate Interactive                                                0.000147
Elixir Studios                                                  0.000147
Name: proportion, Length: 1289, dtype: float64
Rating
T       0.348278
E       0.305055
M       0.209963
E10+    0.136264
AO      0.000147
K-A     0.000147
RP      0.000147
Name: proportion, dtype: float64

In [63]:
[df[coluna].value_counts(normalize=True) for coluna in df_categorizado]

[Name
 Madden NFL 07                                   0.001172
 Need for Speed: Most Wanted                     0.001172
 LEGO Star Wars II: The Original Trilogy         0.001172
 Terraria                                        0.001026
 Madden NFL 08                                   0.001026
                                                   ...
 Brain Age: Train Your Brain in Minutes a Day    0.000147
 Wii Fit                                         0.000147
 Wii Sports Resort                               0.000147
 Mario Kart Wii                                  0.000147
 Wii Sports                                      0.000147
 Name: proportion, Length: 4377, dtype: float64,
 Platform
 PS2     0.167033
 X360    0.125714
 PS3     0.112674
 PC      0.095385
 XB      0.082784
 Wii     0.070183
 DS      0.067985
 PSP     0.057143
 GC      0.050989
 PS4     0.035018
 GBA     0.034725
 XOne    0.023297
 3DS     0.022711
 PS      0.021978
 PSV     0.017289
 WiiU    0.013040
 DC      0.002051
 Name: proportion, dtype: float64,
 Genre
 Action          0.238828
 Sports          0.138168
 Shooter         0.126593
 Role-Playing    0.104322
 Racing          0.085128
 Platform        0.059048
 Misc            0.056264
 Fighting        0.055385
 Simulation      0.043516
 Strategy        0.039121
 Adventure       0.036337
 Puzzle          0.017289
 Name: proportion, dtype: float64,
 Publisher
 Electronic Arts                0.138315
 Ubisoft                        0.072674
 Activision                     0.072088
 Sony Computer Entertainment    0.046300
 THQ                            0.044982
                                  ...
 Lighthouse Interactive         0.000147
 CDV Software Entertainment     0.000147
 Encore                         0.000147
 Blue Byte                      0.000147
 NewKidCo                       0.000147
 Name: proportion, Length: 262, dtype: float64,
 Developer
 EA Canada                                                       0.021832
 EA Sports                                                       0.020806
 Capcom                                                          0.018462
 Ubisoft                                                         0.015092
 Konami                                                          0.013919
                                                                   ...
 TDK Mediactive                                                  0.000147
 Retro Studios, Entertainment Analysis & Development Division    0.000147
 Autumn Moon                                                     0.000147
 Tate Interactive                                                0.000147
 Elixir Studios                                                  0.000147
 Name: proportion, Length: 1289, dtype: float64,
 Rating
 T       0.348278
 E       0.305055
 M       0.209963
 E10+    0.136264
 AO      0.000147
 K-A     0.000147
 RP      0.000147
 Name: proportion, dtype: float64]

- Os 5 jogos mais vendidos

In [64]:
df.sort_values(by='Global_Sales', ascending=False).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,82.53,76.0,80.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,35.52,82.0,83.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,32.77,80.0,80.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,29.80,89.0,85.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,28.92,58.0,66.0,Nintendo,E

- Os 5 jogos menos vendidos

In [65]:
df.sort_values(by='Global_Sales', ascending=True).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
16533,Hoshigami: Ruining Blue Earth Remix,DS,2007,Role-Playing,505 Games,0.01,55.0,79.0,Barnhouse Effect,T
16433,Greg Hastings' Tournament Paintball Max'd,PS2,2006,Shooter,Activision,0.01,70.0,92.0,Activision Value,E10+
16459,Powerdrome,XB,2004,Racing,Evolved Games,0.01,69.0,70.0,Argonaut Games,T
16347,F.E.A.R. Perseus Mandate,PC,2007,Shooter,Vivendi Games,0.01,61.0,73.0,TimeGate Studios,M
16156,The Last Remnant,PC,2009,Role-Playing,Square Enix,0.01,66.0,83.0,Square Enix,M

- Todos os jogos de PS4, mostrando somente as colunas name, year_of_release e developer

In [66]:
df[['Name', 'Year_of_Release', 'Developer']].loc[df['Platform'] == 'PS4']

,Name,Year_of_Release,Developer
42,Grand Theft Auto V,2014,Rockstar North
77,FIFA 16,2015,EA Sports
92,Call of Duty: Advanced Warfare,2014,Sledgehammer Games
94,FIFA 17,2016,"EA Sports, EA Vancouver"
105,Fallout 4,2015,Bethesda Game Studios
...,...,...,...
16137,Super Stardust Ultra VR,2016,Sony Interactive Entertainment
16490,Super Dungeon Bros,2016,React Games
16503,Sherlock Holmes: The Devil's Daughter,2016,Frogwares
16530,Dungeons 2,2016,Kalypso
16534,Carmageddon: Max Damage,2016,Stainless Games

- Os jogos de PS4 com o User_Score maior do que 90

- Os jogos de PS4 com User_Score maior que 85 (utilize a função query)

- Crie uma nova coluna, que seja a média de Critic_Score e User_Score

- Apague os atributos Critic_Score e User_Score

- Reposicione as colunas conforme a ordem abaixo

- Altere o tipo de todas as colunas categórias para o tipo "category"

- Verique a quantidade de memória utilizada

- O somatório de Global_Sales

- A média de Global Sales

- Os valores únicos de Platform

- Agrupamento de Platform por Global Sales

- Agrupamento de Genre e Platform, mostrando a média dos outros atributos (função agg)

- A contagem de vendas por gênero

- A média de Global Sales pelo gênero

- Adicione uma nova coluna com a média do Score (função transform)

- Crie uma tabela pivot para representar os dados conforme a tabela abaixo

# Gráficos

- Carregamento da base games.csv e apagando os valores faltantes

- Visualização de subgráficos dos atributos numéricos

- Contagem dos valores únicos do atributo Platform

- Quantidade de jogos por plataforma

- Gráfico de pizza da contagem de jogos por plataforma

- Visualização das colunas da base de dados

- Gráfico de dispersão entre Critic_Score e Global_Sales

- Histograma da coluna Critic_Score